@font-face {
    font-family: monserrat;
    src: url(Montserrat-VariableFont_wght.ttf);}
@font-face {
        font-family: nico;
        src: url(NicoMoji-Regular.ttf);}
    .nav {
    padding: 2%;
    width: 100vw;
    position: fixed;
    top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.nav.sticky {
    background-color: #4E4A52;
    opacity: 80%;
    border-radius: 2.43vw;
    height: 5vw;
    padding: 2%;
    width: 70.41vw;
    left: 14%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    }
    @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.navLink {
    position: relative;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    display: inline-block; /* Ensures the pseudo-element occupies the correct space */
}

.navLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #FFB547;
    transition: width 0.7s, left 0.7s; 
}

.navLink:hover::after {
    width: 100%; 
    left: 0; 
}

.nav .links {
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    column-gap: 20%;
}
.nav .links a {
    text-decoration: none;
    font-family: 'monserrat';
    color: white;
    font-size: 1.2vw;
    font-weight: 400;

}
.nav .logo {
    font-family: 'nico';
    color: white;
    font-size: 3vw;
}
.nav .signIn {
    font-family: 'monserrat';
    background-color: #D9D9D9;
    font-size: 1vw;
    font-weight: 400;
    border-radius: 20px;
    border: none;
    padding: 1vw 2.5vw;
    z-index: 999;
}
.nav .signIn:hover {
    cursor: pointer;
}
.floatingNavAligner {
    width: 100vw;
    position: sticky;
    z-index: 999;
    top: 5%;
    display: none;
    align-items: center;
    justify-content: center;
}
.floatingNav {
    background-color: #4E4A52;
    opacity: 80%;
    border-radius: 2.43vw;
    height: 5vw;
    padding: 2%;
    width: 70.41vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.floatingLinks {
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    column-gap: 20%;
}
.floatingLogo {
    font-family: 'nico';
    color: white;
    font-size: 3vw;
}
.floatingLinks a {
    text-decoration: none;
    font-family: 'monserrat';
    color: white;
    font-size: 1.5vw;
    font-weight: 400;
}
.floatingSignIn {
    font-family: 'monserrat';
    background-color: #D9D9D9;
    font-size: 3vh;
    font-weight: 400;
    border-radius: 10vw;
    border: none;
    width: 9vw;
    height: 5vh;
}
.slideUp {
    -webkit-transform: translateY(-10vw);
    transform: translateY(-10vw);
    transition: transform .5s ease-out;
  }
.slideDown {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: transform .5s ease-out;
  }

  