@font-face {
    font-family: Roman;
    src: url(karu-regular.ttf);}

body {
        padding: 20px;
        background-color: #74c69d;
}
nav {
    display: flex;
    justify-content: space-between;    
}
.logo {
    margin-left: 10vh;
    margin-top: 1vh;
}
.links {
    display: flex;
    gap: 60px;
    margin-right: 10vh;
    margin-top: 3vh;
}
.links a{
    text-decoration: none;
    font-family: Roman;
    color: white;
    font-size: 20px;
    opacity: 0.85;
}
.all {
    display: grid;
    grid-template-columns: 35% 65%;
}
.contenu {
    display: grid;
    grid-template-rows: 70% 30%;
}
.para {
    grid-row : 1/2; 
    margin-left: 10vh;
    margin-top: 10vh;
}
.welcome {
    font-family: Roman;
    font-size: 8px;
    color: white;
    letter-spacing: 1vh;
}
.hello {
    font-family: Roman;
    font-size: 18px;
    letter-spacing: 0.5vh;
    line-height: 7vh;
    color: white;
}
.disc {
    font-family: Roman;
    width: 40vh;
    text-align: left;
    font-size: 15px;
    color: white;
    opacity: 0.75;
}
.button {
    margin-top: 5vh;
}
.button button{
    background-color: white;
    border: none;
    border-radius: 1vh;
    height: 7vh;
    width: 20vh;
    
}
.button button h1{
    font-family: Roman;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.75;
}

.img img     {
    width: 800px;
}
.more {
    display: none;
}
@media only screen and (max-width: 600px){
    body{
        width: 90%;
        margin: 0;
    }
        nav {
            width: 100%;
            display: flex;
            justify-content: space-between; 
            box-sizing: border-box;
            margin:0;
           
        }
        .more {
            display: block;
        }
        .links {
            display: none;
        }
        
        .logo {
            margin-left: 5%;
        }
        .all {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 40% 60%;
            box-sizing: border-box;
        }
        .img img{
            width: 60vh;
        }
        .img {
            display: flex;
            justify-content: center;
            grid-row: 1/2;
        }
        .contenu {
            grid-row: 2/3;
            display: grid;
            grid-template-rows: 70% 30%;
            box-sizing: border-box;
        }
        .para {
            grid-row : 1/2; 
            margin-left: 5%;
            margin-top: 0%;
            box-sizing: border-box;
        }
        .welcome {
            font-family: Roman;
            font-size: 8px;
            color: white;
            letter-spacing: 1vh;
            margin-bottom: 0;
            box-sizing: border-box;
        }
        .hello {
            margin-top: 0;
            font-family: Roman;
            font-size: 15px;
            letter-spacing: 1%;
            color: white;
            box-sizing: border-box;
        }
        .disc {
            font-family: Roman;
            width: 40vh;
            text-align: left;
            font-size: 15px;
            color: white;
            opacity: 0.8;
            box-sizing: border-box;
        }
        .button {
            margin-top: 5%;
            box-sizing: border-box;
        }
        .button button{
            background-color: white;
            border: none;
            border-radius: 1vh;
            height: 7vh;
            width: 20vh;
            
        }
        .button button h1{
            font-family: Roman;
            font-size: 18px;
            font-weight: bold;
            opacity: 0.75;
        }
    
}
