.welcomePopup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}   

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

.welcomeText {
    display: none;
    font-family: Montserrat;
    font-size: 10vw;
    font-weight: 900 ;
    color: #FFB547;
    
}
.loading {
    font-family: Montserrat;
    font-size: 10vw;
    font-weight: 900 ;
    color: #FFB547;
}

.welcomeText::after {
    content: "|";
    display: inline;
    animation: blink 1s infinite;
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .loadingBar {
    width:90vw;
    height:10vw;
    background:
     linear-gradient(#FFB547 0 0) 0/0% no-repeat
     #ddd;
    animation:loadbar 2.5s  forwards;
  }
  @keyframes loadbar {
      100% {background-size:100%}
  }
  .load {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
